.panel {
    width: 425px;
  
   
 
  }
  
  .card-outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px 9px rgba(0, 0, 0, 0.1);
    height: 22em;
    border-radius: 20px;
    width: 20em;
    margin-right: 3em;
    margin-bottom: 2em;
    background-image: url('../../assets/b3.png');
    background-position: left;
    background-size: cover;
  }

  .card {
    font: 16px/1.5 "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    margin-left: 30px;
    width: 325px;
    height: 150px;
    text-align: left;
    padding: 30px;
   margin-bottom: 2em;
    color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
  
    
  }
  .card__number {
    font-size: 30px;
    padding: -20px 0 15px;
    text-align: center;
  }
  .card__expiry-date {
    font-size: 14px;
    padding-bottom: 20px;
    text-align: center;
  }
  .card__owner {
    text-align: left;
  }
  .card__logo {
    position: absolute;
    right: 30px;
    bottom: 20px;
  }
  .card__strip {
    background: #000;
    height: 50px;
    margin-bottom: 30px;
  }
  .card__signature {
    float: left;
    width: 65%;
    height: 40px;
    margin-left: 10px;
    background: #999;
  }
  .card__ccv {
    float: left;
    margin-top: 5px;
    padding: 7px;
    background: #fff;
    color: #111;
    line-height: 1;
  }
  .card--front {
    font-size: 16px;
    font-family: "Source Code Pro";
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  }
  .card--back {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }

  .details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 1em 0em;
  }
  .balance-tites{
    font-family: var(--font-family);
    font-size: 15px;
    opacity: 0.8;
  }
  .balance2{
    font-family: var(--font-family);
    font-size: 20px;
   
  }
  