.nav-outer-container{
    display: flex;
    justify-content: space-around;

    padding: 1em;
  
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links a{
    padding: 1em;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: var(--font-family);

}
.nav-brand img{
    width: 8em;
}